/* You can add global styles to this file, and also import other style files */
html {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    288deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  color: white;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.select {
  width: 200px;
}

.mat-select-panel {
  width: 200px;
}

.center {
  display: flex;
  justify-content: center;
}

.buttons {
  padding: 10px;
  display: table;
  border-spacing: 5px;
}
