<h1>Written by: {{name}}</h1>>
<div>
    <label>To Do: </label>
        <input [(ngModel)]="todo"  type="text" > 
        
        <button mat-raised-button  (click)="onClick()"><fa-icon [icon]="faPlus"></fa-icon> </button>

<mat-form-field appearance="fill" class='select'>
    <mat-select disableOptionCentering panelClass="myPanelClass" #s (selectionChange)="onDisplayChange(s.value)">
        <mat-option *ngFor="let display of displayList" [value] = "display.value">
            {{display.display}}
        </mat-option>
    </mat-select>
</mat-form-field>


</div>
<div *ngFor="let item of filteredList; let i = index">{{item.toDo}} {{item.complete}} 
    <button class="button" mat-raised-button  (click)="markIncomplete(item)"> Mark Incomplete</button>
    <button mat-raised-button (click)="markComplete(item)"> Mark Complete</button>
    <button mat-raised-button  (click)="deleteItem(item)">Delete</button></div>
